# name is used when setting the versionScheme to 'byBuildNumber' during the pack
name: $(majorMinorVersion).$(semanticVersion) # $(rev:r) # NOTE: rev resets when retention policy expires

trigger:
- master

pool: 'Default'

variables:
  majorMinorVersion: 1.0
  # semanticVersion counter is automatically incremented by one in each execution of pipeline
  # second parameter is seed value to reset to every time the referenced majorMinorVersion is changed
  semanticVersion: $[counter(variables['majorMinorVersion'], 0)]

steps:
- task: NuGetAuthenticate@0

- task: DotNetCoreCLI@2
  inputs:
    command: 'pack'
    packagesToPack: '**/*.csproj'
    versioningScheme: byBuildNumber # https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/dotnet-core-cli?view=azure-devops#yaml-snippet

- task: DotNetCoreCLI@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: '36ec3112-f793-46fe-974d-a7f8df67d90d/2eaa00ea-ed00-4bd0-9ae2-cf339f32ad48'